<p style="color: green"><%= notice %></p>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <span class="fs-4"><h1>Tweets</h1></span>
      </a>
      <strong><p>buscar -> </p></strong>
      <%= form_with url: tweets_path, method: :get do |form|%>
        <%= form.text_field :query_text, placeholder: t('Username search'), value: params[:query_text]%>
      <%end%>
    </div>
  </header>




<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>

<div class="container col-4">
  <div class="p-3 mb-2 bg-white text-center"><h1><%=raw pagy_nav(@pagy)%></h1></div>
</div>



