<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <%= link_to "Editar", edit_tweet_path(@tweet) %> |
  <%= link_to "Regresar a tweets", tweets_path %>

  <%= button_to "Eliminar Tweet", @tweet, method: :delete %>
</div>
